body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;  
  grid-template-rows: auto;
  height: 100vh;
  overflow: hidden; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.side-box {
  background: linear-gradient(to bottom, white, orange, red);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.left-box {
  grid-column: 1 / 2;
}

.main-box {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
}

h2 {
  grid-row: 1 / 2;
  padding: 20px;
}

.game-board
{
	width: 400px !important;
  height: 400px !important;
  background-color: orange;
  color: black;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square
{
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-box {
  grid-column: 3 / -1;
}