/* Document Styling */
body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;  
  grid-template-rows: auto;
  height: 100vh;
  overflow: hidden; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Side Column Styling */
.side-box {
  background: linear-gradient(to bottom, white, orange, red);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
  min-width: 10rem;
}

.left-box {
  grid-column: 1 / 2;
}

.right-box {
  grid-column: 3 / -1;
}

/* Game Column Styling */
.main-box {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
}

.main-header {
  grid-row: 1 / 2;
  min-height: 15vh;
  padding-top: 10vh;
  font-size: clamp(36px, 4vw, 50px);
}

.game-board {
  min-width: 400px;
  min-height: 400px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: none;
  color: black;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  border-top: 10px solid maroon;
  border-left: 10px solid maroon;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
  height: 100%;
}

.square:nth-child(3n-2) {
  border-left: none;  
}

.square:nth-child(-n+3) {
  border-top: none;
}

/* Mobile Viewport Accesibility */
@media only screen and (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas:
    "a b"
    "c c";
    background: linear-gradient(to bottom, white, orange, red);
  }

  .main-box {
    grid-area: c;
  }
  
  .main-header {
    padding-top: 0px;
    padding-bottom: 2vh;
    min-height: 5vh;
    font-size: 2rem;
  }

  .side-box {
    padding-top: 2vh;
    max-height: 1rem;
    min-height: 200px;
  }
  
  .left-box {
    grid-area: a;
    background: none;
  }

  .right-box {
    grid-area: b;
    background: none;
  }
}