body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;  
  grid-template-rows: auto;
  height: 100vh;
  overflow: hidden; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.side-box {
  background: linear-gradient(to bottom, white, orange, red);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.left-box {
  grid-column: 1 / 2;
}

.main-box {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
}

h2 {
  grid-row: 1 / 2;
  padding: 20px;
}

.game-board
{
	width: 400px !important;
  height: 400px !important;
  background-color: none;
  color: black;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square
{
  border: 10px solid maroon;
  border-collapse: collapse;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.top-left {
  border-left: none;
  border-top: none;
}

.top-center {
  border-top: none;
}

.top-right {
  border-right: none;
  border-top: none;
}

.middle-left {
  border-left: none;
}

.middle-right {
   border-right: none;
}

.bottom-left {
  border-left: none;
  border-bottom: none;
}

.bottom-center {
  border-bottom: none;
}

.bottom-right {
  border-right: none;
  border-bottom: none;
}







.right-box {
  grid-column: 3 / -1;
}